<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title|default:'Game'}}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<div class="wrapper">
    <div class="content element">
        <main class="neumorphic--pressed">
            {% block content %}
            {% endblock content %}
        </main>
        <div class="controls">
            <div class="button__block-1">
                <div></div>
                <div class="big-button  big-button-up hoverable"></div>
                <div></div>
                <div class="big-button big-button-left hoverable"></div>
                <div class="big-button  big-button-center hoverable"></div>
                <div class="big-button  big-button-right hoverable"></div>
                <div></div>
                <div class="big-button  big-button-down hoverable"></div>
                <div></div>

            </div>
            <div class="button__block-2">
                <div class="line-button hoverable" data-label="select"></div>
                <div class="line-button hoverable" data-label="start"></div>
            </div>
            <div class="button__block-3">
                <div class="round-button hoverable" data-label="B"></div>
                <div class="round-button hoverable" data-label="A"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>