{% extends 'root/base.html' %}

{% block title %}
<title>MovieMon: Details</title>
{%endblock%} {% block content %}
<div style="text-align: center; text-transform: lowercase">
      <img  height="180" class="detail_poster" src="{{ movie.poster }}"; />
  <div style="text-align: left; text-transform: lowercase">
    <p>Title: {{ movie.name }}</p>
    <p>Year: {{ movie.year }}</p>
    <p>Rating: {{ movie.rating }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Actors: {{ movie.actors}} </p>
    <p>Plot: {{ movie.synopsis }}</p>
  </div>
</div>


{% endblock %}
