{% extends 'root/base.html' %}
{% load static %}

{% block title %}
<title>MovieMon: Moviedex</title>
{%endblock%}

{% block content %}

  <div style="display: flex; flex-wrap: wrap">
      {% if empty %}
          <div style="position:absolute;">Go and capture something! </div>
      {% endif %}
      {% for mov in movies %}
      <div class="moviedex_preview {% if mov == selected %} moviedex_selected {% endif %}" >
          <img height="{{ height }}px" src="{{ mov.poster }}" />
      </div>
      {% endfor %}
  </div>
  <br/>
  <br/>


    <div>b - back</div>
{% endblock %}
